!
! .Xresources
!

URxvt.dynamicColors: on
URxvt.scrollBar: false
URxvt.saveLines: 8192
URxvt.font: xft:DejaVu Sans Mono:pixelsize=14
URxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=14:style=Bold
URxvt.letterSpace: -1
Xft.antialias: true 
